<?xml version="1.0"?>
<robot name="iai_kitchen" xmlns:xacro="http://ros.org/wiki/xacro">
          <link name="floor">
            <collision>
              <origin xyz="0 0 -1.0" rpy="0 0 0" />
              <geometry>
                <box size="10.1 10.1 .1" />
              </geometry>
            </collision>
            <visual>
              <origin xyz="0 0 -1.0" rpy="0 0 0" />
              <geometry>
                <box size="10.1 10.1 .1" />
              </geometry>
            </visual>
          </link>
  <gazebo>
    <static>true</static>
  </gazebo>
</robot>
